<!DOCTYPE html>
<html>
  <head>
    <title>BREWASIS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <h1 id="top">CRAFT</h1>
    <h3 id="top">2017-2008 table</h3>
    <div id="data" style="width:800px">


    <table id="table" style="background-color: #f2f2f2;">
      <tr>
          <td style = "width:220px">COMPANY</td> <td style="width:45px">STATE</td>
          <td style="width:50px">2017</td> <td style="width:50px">2016</td><td style="width:50px">2015</td><td style="width:50px">2014</td><td style="width:50px">2013</td>
          <td style="width:50px">2012</td><td style="width:50px">2011</td><td style="width:50px">2010</td><td style="width:50px">2009</td><td>2008</td>
      </tr>
    </table>
 {{craft_data | safe}}
    </div>
  </body>
</html>
